<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="2" parallel="classes" name="ParaBankSuite">
  <test thread-count="2" parallel="classes" name="ParaBankTest">
    <classes>
      <class name="com.helms.testclass.AccountOverview"/>
      <class name="com.helms.testclass.OpenAccounttest"/>
    </classes>
  </test> <!-- ParaBankTest -->
</suite> <!-- ParaBankSuite -->
